<?xml version="1.0" encoding="Windows-1252"?>
<VisualStudioPropertySheet
	ProjectType="Visual C++"
	Version="8.00"
	Name="ddk_env"
	>
	<Tool
		Name="VCCLCompilerTool"
		AdditionalIncludeDirectories="$(WDKPATH)\inc\ddk;$(WDKPATH)\inc\api;$(WDKPATH)\inc\crt"
	/>
	<Tool
		Name="VCNMakeTool"
		BuildCommandLine=""
		ReBuildCommandLine=""
		CleanCommandLine=""
		Output=""
		PreprocessorDefinitions=""
		IncludeSearchPath="$(WDKPATH)\inc\ddk;$(WDKPATH)\inc\api;$(WDKPATH)\inc\crt"
		ForcedIncludes=""
		AssemblySearchPath=""
		ForcedUsingAssemblies=""
		CompileAsManaged=""
	/>
	<UserMacro
		Name="WDKPATH"
		Value="C:\WinDDK\7600.16385.0"
	/>
</VisualStudioPropertySheet>
